<!--settings template file. -->

<!-- The following is a template for the settings icon in bottom bar.-->
<img id="settingsIcon" src="./DNA_common/images/icongear.png" width="117px" height="117px">

<!-- settings menu is for a bar at the side of bottombar.  This is not used.-->
<!--
<div id="settingsMenu">
	<img id="settingsIconTabs" onclick="$('#settingsTabs').toggle();" src="./DNA_common/images/icongear.png" width="117px" height="117px">
	<img id="settingsIconPage" onclick="$('#settingsPage').toggle();" src="./DNA_common/images/icongear.png" width="117px" height="117px">
	<img id="settingBlu" src="./DNA_common/images/BluTooth_On.png" onclick="launchApplication('http://com.intel.tizen/settings');Settings.openSetting({id:'bluetooth'});">
	<img id="settingNet" src="./DNA_common/images/WiFi_On.png" onclick="$('#settingsWifi').toggle();;">
	<img id="settingTet" src="./DNA_common/images/Tether_Off.png" onclick="launchApplication('http://com.intel.tizen/settings');Settings.openSetting({id:'wifitethering'});">
	<img id="settingRvi" src="./DNA_common/images/RVI_Icon.png" onclick="launchApplication('http://com.intel.tizen/settings');Settings.openSetting({id:'rvi'});">
</div>-->

<!-- settings Page:  this is used as a page for all settings components appended to  body-->
<div id="settingsPage" class="settingsPage hidden">
	<div id="tabsTopPanel" class="tabsTopPanel">
		<div class="tabsTopPanelTitle">
			<div class="blue-rectangle"></div>
			<div class="blue-caption-text">APPS</div>
		</div>

		<div id="SettingsTabsCloseButton" class="tabsCloseButton"></div>

		<div id="tabsTabsID" class="tabsTabs">	
			<div onclick="$('#settingsTabs').tabs('tabsTabClick',0);" id="tabsTab0" class="tabsTab">SETTINGS</div>
			<!-- <div class="tabsTabClear"></div> -->
		</div>
	</div>
	<!-- add class 'hidden' to this id tabsTopSubPanel, when component is displayed -->
	<div id="tabsTopSubPanel" class="tabsTopSubPanel">
		<div id="tabsContent" class="settingsContent">
			<ul id="settingsPageList">
			</ul>
		</div>
	</div>
</div>

<!-- settings Page Item:  This is a templated to append new setting componets in settings menu-->
<div id="settingsPageItem">
	<li class="settingElement"><a>Name X</a></li>
</div>

