[project]
	description = This is the Native component code for FM_Radio
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group pdxostc-management
	owner = group user/amcgee7 (amcgee7)
[access "refs/for/refs/*"]
	read = group user/Jeff Eastwood (jeastwo1)
	push = group user/Jeff Eastwood (jeastwo1)
	label-Code-Review = -2..+2 group user/Jeff Eastwood (jeastwo1)
	label-Verified = -1..+1 group user/Jeff Eastwood (jeastwo1)
	rebase = group user/Jeff Eastwood (jeastwo1)
	removeReviewer = group user/Jeff Eastwood (jeastwo1)
	submit = group user/Jeff Eastwood (jeastwo1)
[access "refs/heads/*"]
	read = group user/Jeff Eastwood (jeastwo1)
	create = group user/Jeff Eastwood (jeastwo1)
	push = +force group user/Jeff Eastwood (jeastwo1)
	pushMerge = group user/Jeff Eastwood (jeastwo1)
[access "refs/tags/*"]
	push = +force group user/Jeff Eastwood (jeastwo1)
	pushTag = group user/Jeff Eastwood (jeastwo1)
	pushSignedTag = group user/Jeff Eastwood (jeastwo1)
