/*severe weather alert box*/
.weather-alert {
	background: -webkit-linear-gradient(top, #222 30%, rgba(83, 181, 206, .4) 100%);
	color: #fff;
	-webkit-opacity: 0.8;	
	-webkit-box-shadow: 0 0 90px rgba(255,255,255,0.4);
	overflow-y: scroll;
	overflow-x: auto;
	touch-action: pan-y;
	z-index: 1;
	max-height: 40%;
	width: 675px;
	background-color: #222;	
	top: 40%;
	left: 50%;
	position: absolute;	
	transform: translate(-50%, -50%);
	padding: 20px 20px 20px 30px;
}
.weather-alert > .close-button {
	padding: 0;
}
/* text inside alert must be large enough to be easily legible */
.weather-alert > p {
	font-size: 1em;
	color: #FFF;
	padding: 5px 20px;	
}