.boxIconText {
	position: relative;
	height: 25px;
}

.boxIconRectangle {
	display: inline-block;
	vertical-align: middle;
	width: 55px;
	height: 15px;
}

.boxIconCaption {
	margin-left: 5px;
	display: inline-block;
	vertical-align: middle;
}

.boxIconRectangleSmall {
	width: 104px;
	height: 17px;
	display: inline-block;
	vertical-align: middle;
	background-color: rgba(83, 181, 206, 1.0);
	margin-right: 3px;
	}

.boxIconCaptionSmall {
	margin-left: 3px;
	display: inline-block;
	vertical-align: middle;
}
.boxCaptionText {
	font-size: 22px;
	font-weight: bold;
	color: rgba(83, 181, 206, 1.0);
}
