<div id="WifiPage" class="tabs WifiPage hidden">

	<div id="tabsTopSubPanel" class="tabsTopSubPanel">
 
		<div id="tabsCloseSubPanelWifiButton" class="tabsCloseSubPanelButton"></div>
		<div class="tabsSubPanelArea">
			<div id="tabsTopSubPanelTitle">
				<div class="boxIconRectangleSmall bgColorTheme"></div>
				<div class="boxIconCaptionSmall boxCaptionText">SETTINGS</div>
			</div>
			<div id="tabsTopSubPanelSubtitle" class="componentHeader">WIFI</div>
			<div class="tabsTabClear">
			</div>
		</div>
		<div id="wifiPowerButton" class="subPanelToggleButton subPanelToggleButtonWide">
			<!-- wifi on/off button style here, hexagon slider instead of text -->
			<!-- <div class="fontColorNormal fontSizeMedium fontWeightBold toggleButtonText">TURN ON</div> -->
			<div class="switch off switch-xsmall">
			  <div class="switch-plate">
			    <div class="switch-control"></div>
			  </div>
			</div>
		</div>
		<div id="loadingSpinnerWifi" class="loadingSpinnerWifi loading-container loading-container-small">
			<div class="loading loading-small"></div>
		</div>
	</div>
	<div id="tabsTopSubPanel" class="tabsTopSubPanel">

		<!-- start of wifi tabsContent portion-->
		<div id="tabsContent" class="tabsContent wifiContent">
			<div id="wifiNetworksList"><!-- name --></div>
			<div class="fontColorNormal fontSizeMedium fontWeightBold">TETHERING IS ON</div>
			<div class="buttonsArea">
				<div id="wifiRefreshButton" class="wifiRefreshButton">
				</div>
				<div id="addNetworkButton" class="addNetworkButton">
				</div>
			</div>
		</div>
	</div>
</div>

<div id="WifiDeviceTemplate" class="wifiElement borderColorTheme">
	<div class="wifiElementInfoBox">
		<div class="wifiElementTitle fontSizeLarge fontColorNormal fontWeightBold"><!-- name --></div>
		<div class="wifiElementSubtitle fontSizeSmaller fontColorNormal"></div>
		<div class="wifiElementDescription fontSizeSmaller fontColorNormal"></div>
		<div class="wifiElementMore fontSizeSmaller fontColorNormal"></div>
		<div class="wifiElementMore fontSizeSmaller fontColorSelected fontWeightBold"></div>
		<div class="wifiElementMore fontSizeSmaller fontColorSelected fontWeightBold"></div>
	</div>
	
	<div class="toggleButton wifiElementButton">
		<div class="connectWhite connectGreen toggleButton toggleButtonBackground"></div>
		<div class="fontColorNormal fontSizeMedium fontWeightBold"></div>
	</div>
</div>
 
