.incomingCall {
	position: absolute;
	height: 1280px;
	width:720px;
	z-index: 1000;
	-webkit-transition-timing-function: linear;
	-webkit-transition: 1s;
	
	-moz-transition-timing-function: linear;
	-moz-transition: 1s;
	
	-ms-transition-timing-function: linear;
	-ms-transition: 1s;
	
	-o-transition-timing-function: linear;
	-o-transition: 1s
}
.incomingCallShow {
	top:0;
}
.incomingCallHide {
	display: none;
}
.incomingCall .tabsTopPanel {
	position: inherit;
	top:0;
	left:0;
	width:720px;
	height:110px;

}
.incomingCall .tabsTab {
	position: inherit;
	top:0;
	left:0;
	width:720px;
	height:110px;
	background-repeat: repeat-x;
}
.incomingCall .TopPanelTitle {
	position: inherit;
	left: 19px;
	top: 30px;
	font-size: 0;
}
.incomingCall .callInfoBox{
	position: inherit;
	left:19px;
	top:150px;
	width: 400px;
}
.incomingCall .callPhotoBox {
	width: 240px;
	height: 240px;
	display: inline-block;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.noContactPhoto {
	background: url("contact_picture_blue.png") no-repeat;
}
.incomingCall .callPhoto {
	position: inherit;
	width: 100%;
	height: 100%;
}
.incomingCall .callName{
	position: inherit;
	top:150px;
	left:280px;
	text-transform: uppercase;
}
.incomingCall .callNumber{
	position: inherit;
	top:200px;
	left:280px;
	text-transform: uppercase;
}
.incomingCall .incomingCallAccept{
	position: inherit;
	top:500px;
	left:20px;
	text-transform: uppercase;
	background-image: url("icon_call_blue.png");
}
.incomingCall .incomingCallDeny{
	position: inherit;
	top:500px;
	left:370px;
	text-transform: uppercase;
	background-image: url("icon_endcall_blue.png");
}
.incomingCall .callButton {
	width: 330px;
	height: 330px;
	margin-left: 0;
	margin-top: 0;
}
