/*putting all styles for settings and components in settings.css for now, to be 
sorted when there is time to organize all the components and make decisions*/

.WifiPage {
	display:inline-block;
}
.settingsPage, .settingsPages {
	display: flex;
	position: absolute;
	width: 100%; 
	height: 100%;  
	left: 0;
	top: 0;
	flex-direction: column;  
	background-color: rgba(0, 0, 0, 0.8);
}
.settings-back-arrow {
	cursor: pointer;
	text-transform: uppercase;
	width: 100px;
	height: 100px;
	float: left;
	background-image: url('/DNA_common/components/settings/images/back.png');
	background-repeat: no-repeat;
	margin: 24px 20px 0 20px;
}
.component-top {
	z-index: 0;
	background-color: #222;
	margin: 0 40px;
}
.component-head {
	margin-top: 7px;
	display: inline-block;
	text-transform: uppercase;
	width: 75%;
	overflow: hidden;
	height: 125px;
}
.component-subhead {
	margin:  0 40px;
	padding: 1px 20px;
	background-color: #222;
}
.component-content {
	overflow-x: hidden;
	overflow-y: auto;
	padding-right: 20px;
	padding: 20px 0;
	background-color: #222;
	margin: 0 40px;
}
.component_content .active {
  background-image: -webkit-linear-gradient(#915a00, #db9604);
  background-image: linear-gradient(#915a00, #db9604);
  text-shadow: 0 0 21px rgba(242, 216, 175, 0.5), 0 0 10px rgba(242, 216, 175, 0.4), 0 0 2px #2a153c;
  color: #f6efe4; 
}
.component-title {
	font-size: 75px;
	color: #fff;
	font-weight: bold;
	line-height: 47px;
	margin-left: 0;
}
.component-form {
  position: relative;  
  margin: 40px;  
 	outline: 1px solid rgba(255,255,255, 0.25);  
 	padding: 40px;  
}
/*.label-box*/
.component-label	{
	text-transform: uppercase;
	text-align: right;
	/*width: 35%;*/
	margin-right: 10px;
	font-weight: 400;
	font-size: 4rem;
	color: #fe9c00;
	line-height: 2.5em;
}
.blue-rectangle {
	width: 104px;
	height: 17px;
	display: inline-block;
	vertical-align: middle;
	background-color: rgba(83, 181, 206, 1.0);
	margin-right: 3px;
	margin-left: 4px;
}
.blue-caption-text {
	font-size: 22px;
	font-weight: bold;
	color: rgba(83, 181, 206, 1.0);
	margin-left: 3px;
	display: inline-block;
	vertical-align: middle;
}
ul .settingElement {
	text-transform: uppercase;
	list-style-type: none;	
	padding: 40px 0;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	border-bottom: 1px solid rgba(255,255,255, 0.25);
	font-size: 4rem;
	color: #fe9c00;	
	margin: 0 20px 0 -20px;
	/* font-weight: bold; */
}
ul#settingsPageList {
	margin: 0;
}
ul#settingsPageList > :first-child {
	margin-top: 0;
}
ul#settingsPageList > :last-child {
	border-bottom: none;
}

.networkElement {
	border-bottom: 1px solid rgba(255,255,255, 0.25);
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	text-transform: uppercase;
	margin: 0 40px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	padding: 20px 0;
}
.networkElementTitle {
	color: rgb(196, 196, 196);
	color: rgba(196, 196, 196, 1.0); /*#c4c4c4*/
	font-size: 3rem;
	font-weight: bold;
}
.networkElementInfoBox {
	justify-content: space-between;
}
.networkElementSubtitle {
	margin-top: 5px;
	color: rgb(83, 181, 206);
	font-weight: normal;
	font-size: 2.5rem;
	line-height: 2rem;
}
.networkElementDescription {
	color: rgb(83, 181, 206);
	font-weight: normal;
	font-size: 2.5rem;
	line-height: 3rem;
}
.networkElementMore {
	color: rgb(83, 181, 206);
	font-weight: normal;	
	font-size: 2.5rem;  
	line-height: 3rem;
}
.networkElementButton {
	justify-content: space-between;
	margin-right: -20px;
}
.selected {
	font-weight: bold;
}
.alert {
	color: rgb(255, 255, 255);
	font-weight: bold;
}
.settings-switch {
	float: right;
	display:inline-block;
	height: 100px;
	width: 200px;
	padding-top: 25px;
}
.buttonsArea {
	margin: 40px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.networkRefreshButton {
	width: 80px;
	height: 80px;
	background-image: url('/DNA_common/components/settings/images/refresh.png');
	background-size: 80px 80px;
	background-repeat: no-repeat;
}
.addNetworkButton {
	width: 80px;
	height: 80px;
	background-image: url('/DNA_common/components/settings/images/plus.png');
	background-size: 80px 80px;
	background-repeat: no-repeat;
}
.bluetoothRefreshButton {
	width: 180px;
	margin: 0 auto;
}
.networkNetworkInfoElement {
	padding: 10px 0;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	text-transform: uppercase;
}
.networkConnectButton {
	margin: 20px auto;
	width: 200px;
}
.loadingSpinnerWifi {
	position: absolute;
	top: 33px;
	right: 240px;
}
.loadingSpinnerBluetooth {
	position: absolute;
	top: 33px;
	right: 240px;
}
.contentContainer {
	padding: 10px;
}
.contentContainerKey {
	text-transform: uppercase;
	display: inline-block;
	width: 200px;
}
.contentContainerValue {
	text-transform: uppercase;
	display: inline-block;
}
.contentInputBox {
	display: inline-block;
}
.inputBox .settingsInputWideInline {
	width: 350px;
}
.inputBox .settingsInputSelectionWideInline {
	width: 310px;
}
.wifiHandoverButton {
	width: 300px;
	margin: 0 auto;
}
.disabledArea {
	width: 500px;
	height: 500px;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	z-index: 11;
}
.bluetoothPINCode {
	float: left;
	bottom: 10px;
	left: 34px;
	z-index: 100;
	position: absolute;
	text-transform: uppercase;
}

.modal-bkgrnd{
  width: 675px;
  background-color: #222;
/*  position: absolute;  
  transform: translate(-50%, -50%);*/
  padding: 0 20px 20px 30px;
}
.delete-button {
  display: inline-block;
  outline: 0px;
}
.delete-button::after {
  	content: "\00d7";
	display: block;
	width: 40px;
	height: 40px;
	text-align: center;
	color: #444;
	font-size: 5rem;
	outline: 1px solid #444;
	cursor: pointer;
	line-height: .75em;
	margin-left: -70px;
	margin-top: 30px;
}
.next-button {
  display: inline-block;
  outline: 0px;
}
.next-button::after {
  content: "\025B8";
	display: block;
	width: 40px;
	height: 40px;
	text-align: center;
	color: #444;
	font-size: 5rem;
	outline: 1px solid #444;
	cursor: pointer;
	line-height: .65em;
	margin-left: -70px;
	margin-top: 30px;
}
.previous-button {
  display: inline-block;
  outline: 0px;
  cursor: pointer;
  display: none;
}
.previous-button::after {
  content: "\025C2";
	display: block;
	width: 40px;
	height: 40px;
	text-align: center;
	color: #444;
	font-size: 5rem;
	outline: 1px solid #444;
	cursor: pointer;
	line-height: .65em;
	margin-left: -70px;
	margin-top: 30px;
}
.password-field .off {
	display: none;
}
.settings-clear {
	display: inline-block;
	height: 10px;
	width: 100%;
}
.border {
	border-top: 1px solid rgba(255,255,255, 0.25);
}

/************spinner styles**************/
.spinner {
/*	width: 80px;
	height: 80px;*/
	margin: auto;
/*	background-image: url(../images/spinner_icon_white_lg.png);*/
}

.spinner.on {
	-webkit-animation: spin 0.65s linear infinite;
	animation: spin 0.65s linear infinite;
}

.spinner.off {
	-webkit-animation: none;
	animation: none;
}
.small-spinner {
	width: 42px;
	height: 42px;
	margin: auto;
	background-image: url(../images/spinner_icon_white.png);
}
@-webkit-keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/*font-awesome components*/
.fa {
	color: rgba(255, 255, 255, .4);
}
.modal .fa {
  color: rgba(254, 156, 0, 1);
}