/* blue theme for weather */
.listItem {
  display: inline-block;
  vertical-align: middle;
  width: 716px;
  background-color: rgba(29, 162, 255, 0.4);
  margin-top: 0;
}
.locListItem {
  width: 2160px;
  overflow: hidden;
  border-top: 1px solid rgba(0, 128, 191, 1.0);
  border-bottom: 1px solid rgba(0, 128, 191, 1.0);
  margin-bottom: 10px;
  margin-top: 0;
}
div#addLocation {
  display: inline-block;
  float:right;
  top:1024px;
  width: 80px;
  height: 80px;
  line-height: 70px;
  text-align: center;
  border: 1px solid rgb(128, 203, 255);
}
div#removeLocation {
  display: inline-block;
  float:left;
  top:1024px;
  width: 80px;
  height: 80px;
  line-height: 70px;
  text-align: center;
  border: 1px solid rgb(128, 203, 255);
}
#searchResults > li {
  color: #fff;
  font-size: 2em;
  font-family: Arial, sans-serif;
  margivn: 10px 0;
  padding: 5px 15px;
  background-color: #245f88;
  border: 1px solid rgb(128, 203, 255);
}
#awxSearchButton {
  height: 50px;
  width: 130px;
  background-color: #245f88;
  color: rgb(128, 203, 255);
  text-transform: uppercase;
  border: 1px solid rgba(128, 203, 255, 1);
  margin-left: 5px;
}
#awxSearchTextBox {
  padding-left: 10px;
  margin: 5px 5px 10px 0;
  border: none;
  background-color: #fff;
  width: 400px;
  height: 50px;
  color: #404040;
  font-family: sans-serif, "Arial";
}
#locationModal{
  display:none;
  width: 550px;
  margin: 0 auto;
  top:40%;
  background-color: rgba(0,0,0,0.8);
  -webkit-box-shadow: 0 0 90px rgba(135, 181, 213, 0.8);
  padding: 10px;
}
