<!-- wifi tethering/volume page template file -->

<div id="volumePage" class="tabs volumePage hidden">

	<div class="component-top"> 
		<div class="component-head">
			<div id="volumeBackArrow" class="settings-back-arrow"></div>
			<div class="blue-rectangle"></div>
			<div class="blue-caption-text">SETTINGS</div>
			<div class="component-title">Volume</div>
			<div class="settings-clear">	</div>
		</div>
		<div id="volumePowerButton" class="settings-switch">
			<div class="switch off switch-xsmall">
			  <div class="switch-plate">
			    <div class="switch-control"></div>
			  </div>
			</div>
		</div>
		<div class="component-subhead border">
			<h2>Master Volume</h2>
		</div>
	</div>

	<div class="component-content">
		<div class="volume-content">
			<div id="" class="volume-minus"></div>
			<div id="settingsVolumeSlider" class="settings-volume-slider">
				<div id="settingsVolumeSlideCrop" class="settings-volume-slide-crop">
					<div id="volumeHorizontal" class="volume-horizontal"></div>
				</div>
				<div id="settingsVolumeKnob" class="volume-knob">
					<div class="hexagon-border"></div>
					<div class="hexagon-knob"></div>					
				</div>
			</div>
			<div id="" class="volume-plus"></div>
		</div>
	</div>

</div>