<!-- wifi tethering/volume page template file -->

<div id="volumePage" class="tabs volumePage hidden">

	<div class="component-top"> 
		<div class="component-head">
			<div id="volumeBackArrow" class="settings-back-arrow"></div>
			<div class="blue-rectangle"></div>
			<div class="blue-caption-text">SETTINGS</div>
			<div class="component-title">Volume</div>
			<div class="settings-clear">	</div>
		</div>
		<div id="volumePowerButton" class="settings-switch">
			<div class="switch off switch-xsmall">
			  <div class="switch-plate">
			    <div class="switch-control"></div>
			  </div>
			</div>
		</div>
		<div class="component-subhead border">
			<h2>Master Volume</h2>
		</div>
	</div>

	<div class="component-content">
		<div class="volume-content">
			<!-- Horizontal Slider with Buttons -->
			<div class="horizontal-slider">
			  <div id="settingsVolumeSliderMinus" class="slider-button less-button"></div>
			  <input  id="settingsVolumeSlider" class="slider-input" type="range" value="50" />
			  <div id="settingsVolumeSliderPlus" class="slider-button more-button"></div>
			</div>
		</div>
	</div>

</div>
