@import url("./nouislider.fox.css");

div.wrapper#audiosettings{
	width:100%;
	height:78.125%;
	margin:0;
	position:relative;
	top:8%;
	
	background: rgb(0,0,0); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNDE3MjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(4,23,36,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(4,23,36,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(4,23,36,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(4,23,36,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(4,23,36,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(4,23,36,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#041724',GradientType=0 ); /* IE6-8 */
}

#audiosettings .contents{
	position:static;
}

#audiosettings .contents.only2D{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
}

#audiosettings .dimension2D, .dimension3D{
	position:static;
}


#audiosettings div.static_parts_bg{
	background:url("/images/static_elements_720_585.svg") no-repeat;
	height:58.4%;/*584/1000*/
	width:100%;/*720/720*/
	position:absolute;
	top:30.2%;
	background-size:100%;
}
#audiosettings .surround_header{
	background:url("/images/surround_header_484_28.svg") no-repeat;
	width:66.6666666666667%; /*484/720*/
	height:2.8%; /*28/1000*/
	top:11.5%;
	position:absolute;
	left:4.16667%;
}

#audiosettings div.surround_header.only2D{
	/* background:url("/images/surround_header_no3d_484_28.svg") no-repeat; */
}

#audiosettings div.surround_sound_3D{
	background:url("/images/surround_sound_3d_header_423_56.svg") no-repeat;
	width:58.75%; /*423/720*/
	height:5.7%; /*56/1000*/
	top:2.5%;
	position:absolute;
	left:4.16667%;
}

#audiosettings div.surround_sound_3D.only2D{
	/* display:none; */
}

/*********ON OFF************/

div.on_off_btns, div.surround_btn_sets, div.dimension_2D, div.dimension_3D {
	position:initial;
}

div.on_btn{
	height:5.7%;/*56/1000*/
	width:14.444444444444%;/*104/720*/
	background:url("/images/on_button_104_56.svg") no-repeat;
	position:absolute;
	top:2.5%; /*25/1000*/
	left:81.944444444444%; /*590/720*/	
	background-size:100%;
}

div.on_btn.on{
	background:url("/images/on_button_hover_104_56.svg") no-repeat;
	background-size:100%;
}

div.off_btn{
	height:5.7%;/*56/1000*/
	width:14.444444444444%;/*104/720*/
	background:url("/images/off_button_104_56.svg") no-repeat;
	position:absolute;
	top:2.5%; /*25/1000*/
	left:65.694444444444%; /*473/720*/
	background-size:100%;
}
div.off_btn.on{
	background:url("/images/off_button_hover_104_56.svg") no-repeat;
	background-size:100%;
}



div.on_btn.only2D, .off_btn.only2D{
	/* display:none; */
}

div.audioDimensionTxt{
	background:url("/images/2d_txt_26_15.svg") no-repeat;
	width:3.61111111111111%; /*26/720*/
	height:1.5%; /*15/1000*/
	position:absolute;
	left: 44.335%;
	top:11.5%; /*115/1000*/
	background-size:100%;
}
div.audioDimensionTxt.only2D{
	/* display:none; */
}
div.audioDimensionTxt.on{
	background:url("/images/3d_txt_26_15.svg") no-repeat;
	background-size:100%;
}

div.surround_btns.on{
	display:block;
}
div.surround_btns{
	display:none;
}

div.surround_btn{
	width:20.416666666667%; /*147/720*/
	height:8%; /*80/1000*/
	position:absolute;
	top:15.5%;/*155/1000*/
}

div.meridian2D{
	background:url("/images/meridian2D_147_80.svg") no-repeat;
	left:4.166666666667%; /*30/720*/
	background-size:100%;
}
div.meridian2D.on{
	background:url("/images/meridian2D_hover_147_80.svg") no-repeat;
	background-size:100%;
}
div.meridian3D{
	background:url("/images/meridian_147_80.svg") no-repeat;
	left:4.166666666667%; /*30/720*/
	background-size:100%;
}
div.meridian3D.on{
	background:url("/images/meridian_hover_147_80.svg") no-repeat;
	background-size:100%;
}
div.dolby{
	background:url("/images/dolby_147_80.svg") no-repeat;
	left:27.222222222222%; /*196/720*/
	background-size:100%;
}
div.dolby.on{
	background:url("/images/dolby_hover_147_80.svg") no-repeat;
	background-size:100%;
}

div.dts{
	background:url("/images/dts_147_80.svg") no-repeat;
	left:50.833333333333%; /*366/720*/
	background-size:100%;
}
div.dts.on{
	background:url("/images/dts_hover_147_80.svg") no-repeat;
	background-size:100%;
}
div.stereo{
	background:url("/images/stereo_147_80.svg") no-repeat;
	left:76.3888888888889%; /*550/720*/
	background-size:100%;
}
div.stereo.on{
	background:url("/images/stereo_hover_147_80.svg") no-repeat;
	background-size:100%;
}


div.incremental_btn{
	width:7.5%; /*54/720*/
	height:5.8%; /*58/1000*/
	position:absolute;
	z-index:5;
}


/******PLUS*******/
div.plus{
	background:url("/images/plus_54_58.svg") no-repeat;
	background-size:100%;
}

div.plus:active, .plus:hover{
	background:url("/images/plus_hover_54_58.svg") no-repeat;
	background-size:100%;
}

div.incremental_btn.plus{
	top:41%;
}

div.vol.incremental_btn.plus{
	top:97.5%;
	left:5.5%;
}


/******MINUS*******/
div.minus{
	background:url("/images/minus_54_58.svg") no-repeat;
	background-size:100%;
}

div.minus:active, .minus:hover{
	background:url("/images/minus_hover_54_58.svg") no-repeat;
	background-size:100%;
}

div.incremental_btn.minus{
	top:90%;
}

div.vol.incremental_btn.minus{
	top:97.5%;
	left: 88.88888888%;
}


/****LEFT POSITION*****/

div.incremental_btn.bass{
	left:5.5%;
}
div.incremental_btn.treble{
	left:21.3%;
}
div.incremental_btn.sub{
	left:36.6%;	
}
div.tone_txt{
	font-size:3em;
	color:#fff;
	position:absolute;
	top:36.5%;
	text-align:center;
	width:7%;
}
div.bass_display{
	left:5.5%;
}
div.treble_display{
	left:21.3%;
}
div.sub_display{
	left:36.6%;
}

/********VOLUME*******/

div.noUiSliderVolumeBack{
	background:url("/images/most_bar_off.svg") no-repeat;
	position:absolute;
	width: 68.5%;
	height:7.5%;
	top:96.75%;
	left:16%;
}

/*****FADE BALANCE****/

div.land_rover_top_view{
	background:url("/images/car_top_view_215_478.png") no-repeat;
	background-size:100%;
	width:29.8611111111111%;/*215/720*/
	height:47.8%;/*478/1000*/
	position:absolute;
	top:41%;/*410/1000*/
	left:59.1666666666667%;/*426/720*/
	background-size:100%;
}

div.bf_btn{
	position:absolute;
	background-size:100%;
}
div.balanceBtn{
	width:8.05555555555556%;/*58/720*/
	height:19.4%;/*194/1000*/
	top:55%;
}

div.fadeBtn{
	height:5.8%;/*58/1000*/
	width:26.9444444444444%;/*194/720*/
	left:60.77%;
}

/*#audiosettings div.right{
	background:url("/images/move_right_58_194.svg") no-repeat;
	left:88.8888888888889%;/*640/720
	background-size:100%;
}
div.right:hover, .right:active{
	background:url("/images/move_right_hover_58_194.svg") no-repeat;
	background-size:100%;*/
}
#audiosettings div.left{
	background:url("/images/left_move_58_194.svg") no-repeat;
	left:50.8333333333333%;/*366/720*/
	background-size:100%;
}
div.left:hover, .left:active{
	background:url("/images/left_move_hover_58_194.svg") no-repeat;
	background-size:100%;
}

div.up{
	background:url("/images/up_move_194_58.svg") no-repeat;
	top:33.4%;/*334/1000*/
	background-size:100%;
}

div.up:hover, .up:active{
	background:url("/images/up_move_hover_194_58.svg") no-repeat;
	background-size:100%;
}

div.down{
	background:url("/images/down_move_58_194.svg") no-repeat;
	top:90.2%;/*902/1000*/
	background-size:100%;
}

div.down:hover, .down:active{
	background:url("/images/down_move_hover_58_194.svg") no-repeat;
	background-size:100%;
}

div.crossHairContainer{
	width:29.8611111111111%;/*215/720*/
	height:47.8%;/*478/1000*/
	position:absolute;
	top:41%;/*410/1000*/
	left:59.1666666666667%;/*426/720*/
	overflow:hidden;
}
div.crosshair{
	background:url("/images/crosshair_430_952.svg") no-repeat;
	width:200%;/*(100*430)/215*/
	height:200%;/*(100*952)/478*/
	left:-50%;/*200/4*/
	top:-50%;/*200/4;*/
	position:absolute;
	background-size:100%;
}






