@import url("./spinner.css");


* {
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
}
*:focus {
	outline: none;
}

div {
	position: relative;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	overflow: hidden;
	position: relative;
}

.border {
	border: 1px solid;
}

.exitButton {
	background-image: url('images/bt_close.png');
}

.button {
	display: block;
	margin: 0;
	padding: 0;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	z-index: 10;
}

.button:hover {
	text-decoration: none;
}

.libraryButton {
	position: absolute;
	height: 60px;
	line-height: 47px !important;
	top: 152px;
	right: 0;
	background-repeat: no-repeat;
	background-position: left center;
	text-align: right;
	padding: 0 33px 0 40px;
	text-transform: uppercase;
}

.libraryButton:active {
	position: absolute;
	top: 153px;
}

.backButton {
	height: 43px;
	line-height: 43px !important;
	background-repeat: no-repeat;
	background-position: left center;
	text-align: right;
	padding: 0 15px 0 35px;
	display: inline-block;
	margin-left: 20px;
	vertical-align: top;
	cursor: pointer;
}

.settingsHeaderText {
	text-transform: uppercase;
}

.albumCarouselDescriptionText {
	text-transform: uppercase;
}

.oneLineEllipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}

.twoLinesEllipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.threeLinesEllipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}

input {
	font-family: inherit;
	font-weight: bold;
}

.inputBox .input {
	width: 280px;
	height: 75px;
	padding-right: 75px;
	padding-left: 25px;
	border: none;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.2);
	-webkit-user-select: text;
}

.inputBox .input:focus {
	border: 0;
	outline: none;
}

.inputBox .deleteButton {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	width: 70px;
	height: 75px;
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.inputBox .deleteButton:active {
	top: 1px;
	right: 1px;
}

.inputBox .inputSelection {
	width: 230px;
	height: 75px;
	padding-right: 75px;
	padding-left: 75px;
	border: none;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.2);
	-webkit-user-select: text;
}

.inputBox .inputSelection:focus {
	border: 0;
	outline: none;
}

.inputBox .previousButton {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 70px;
	height: 75px;
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.inputBox .previousButton:active {
	top: 1px;
	left: 1px;
}

.inputBox .nextButton {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	width: 70px;
	height: 75px;
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.inputBox .nextButton:active {
	top: 1px;
	right: 1px;
}
