/*@import url("./nouislider.fox.css");*/

/*Check whether or not this can use these attributes from car.css, line 6 is in car.css */
html {
	font-family:Sans-Serif;
	-webkit-user-select: none;
}

/*Check whether or not this can use these attributes from car.css */
body{
	width:720px;/*720/1080*/
	height:1000px;/*/1000/1500*/
	margin:0;
	font-size:.775em;/*.775em/1.1625em*/
}
.wrapper{
	width:100%;
	height:100%;
	margin:0;
	position:relative;
/*	This background color for HVAC needs to go in the individual style.css sheet for this 
	app, or it affects the homescreen's glowing background
	background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(4,23,36,1) 100%);*/
}
.static_parts_bg{
	background:url("images/hvac/static_parts_bg.svg") no-repeat;
	height:60.1%;/*601/1000*/
	width:100%;/*720/720*/
	position:absolute;
	top:18%;
	/*left:9.861111%;((720-578)/2)/720*/
	background-size:100%;
}
/*********HAZARD BUTTON************/
.hazard_btn{
	width:57.777778%;/*416/720*/
	height:8.1%;/*81/1000*/
	background:url("images/hvac/hazard_off.svg") no-repeat;
	top:115px;
	left:21.1111%; /*152/720*/
	position:absolute;
	background-size:100%;
}
.hazard_btn.on{
	background:url("images/hvac/hazard_on.svg") no-repeat;
}

.hazard_btn.blink{
	background:url("images/hvac/hazard_blink.svg") no-repeat;
}

/*********LEFT HEAT SEAT BUTTON************/
.left_seat_btn{
	width:22.08333333%;/*159/720*/
	height:12.9%;/*129/1000*/
	position:absolute;
	left:21.1111%; /*152/720*/
	top:22%;
}

.left_heat_seat_off{
	background:url("images/hvac/left_heat_seat_off.svg") no-repeat;
	background-size:100%;	
	z-index:4;
	width:100%;
	height:100%;
	position:absolute;		
}

.left_heat_seat_on{
	margin: 0 0 36px 0;
	background:url("images/hvac/left_heat_seat_on.svg") no-repeat bottom;
	z-index:4;
	width:100%;
	position:absolute;
	bottom:0;
	background-size:100%;	
}
.left_heat_seat_on.stage1{
	height:0;
}
.left_heat_seat_on.stage2{
	height:34%;
}
.left_heat_seat_on.stage3{
	height:50%;
}
.left_heat_seat_on.stage4{
	height:100%;
}

/*********RIGHT HEAT SEAT BUTTON************/
.right_seat_btn{
	width:22.08333333%;/*159/720*/
	height:12.9%;/*129/1000*/
	position:absolute;
	right:21.1111%; /*152/720*/
	top:22%;
}

.right_heat_seat_off{
	background:url("images/hvac/right_heat_seat_off.svg") no-repeat;
	z-index:4;
	width:100%;
	height:100%;
	position:absolute;	
	background-size:100%;	
}

.right_heat_seat_on{
	margin: 0 0 36px 0;
	background:url("images/hvac/right_heat_seat_on.svg") no-repeat bottom;
	z-index:4;
	width:100%;
	position:absolute;
	bottom:0;
	background-size:100%;	
}

.right_heat_seat_on.stage1{
	height:0;
}
.right_heat_seat_on.stage2{
	height:34%;
}
.right_heat_seat_on.stage3{
	height:50%;
}
.right_heat_seat_on.stage4{
	height:100%;
}

/*********LEFT NUM SLIDER************/

.left_num_bg{
	background:url("images/hvac/left_number_bg.svg") no-repeat;
	width:21.9444444%;/*158/720*/
	height: 18.1%;
	position:absolute;
	left:21.1111%; /*152/720*/
	top:35%;
	overflow:hidden;
	z-index:4;	
	background-size:100%;	
}

.left_num_cover{
	background:url("images/hvac/left_number_cover.svg") no-repeat;
	width:21.9444444%;/*158/720*/
	height:23.1%;/*231/1000*/
	position:absolute;
	left:21.1111%; /*152/720*/
	top:35%;
	z-index:5;
    pointer-events:none;
	background-size:100%;    
}

.scrollable.left{
	height: 100%;
	position:absolute;
	width:100%;
	top:25%;
}

.scrollable.left ul{
	list-style-type:none;
	font-size:7em;
	padding:0;	
	margin:0;
	position: relative; /* Enables positionning of elements inside viewport */
	height:100%;
}

.scrollable.left li{
	width:100%;
	margin:0;
	padding:0;
	color:#fff;
	line-height:130%;
	text-align:left;
	padding-left:5%;
	position:relative;
}
/*********RIGHT NUM SLIDER************/

.right_num_bg{
	background:url("images/hvac/right_number_bg.svg") no-repeat;
	width:21.9444444%;/*158/720*/
	height: 18.1%;
	position:absolute;
	right:21.1111%; /*152/720*/
	top:35%;
	overflow:hidden;
	z-index:4;
	background-size:100%;		
}

.right_num_cover{
	background:url("images/hvac/right_number_cover.svg") no-repeat;
	width:21.9444444%;/*158/720*/
	height:23.1%;/*231/1000*/
	position:absolute;
	right:21.1111%; /*152/720*/
	top:35%;
	z-index:5;
    pointer-events:none;
	background-size:100%;    
}

.scrollable.right{
	height: 100%;
	position:absolute;
	width:100%;
	top:25%;
}

.scrollable.right ul{
	list-style-type:none;
	font-size:7em;
	padding:0;	
	margin:0;
	position: relative; /* Enables positionning of elements inside viewport */
	height:100%;
}

.scrollable.right li{
	width:100%;
	margin:0;
	padding:0;
	color:#fff;
	line-height:130%;
	text-align:left;
	padding-left:16%;
	position:relative;
}

/*************lower half******************/
.fanSpeedOn{
	width:0;/*42.083333%; 303/720*/
	height:9.4%; /*94/1000*/
	background:url("images/hvac/fan_bar_on.svg") no-repeat;
	position:absolute;
	left:33.3%;
	top:57.7%;
	z-index:0;
}


/********FAN DIRECTION***********/
.fan_dir_down_btn{
	background:url("images/hvac/fan_dir_down_off.svg") no-repeat;
	width:17.08333333%;/*123/720*/
	height:9.7%;/*97/1000*/
	top:58.75%;/*20/1000*/
	left:3.333333%; /*24/720*/
	position:absolute;
	background-size:100%;
}
.fan_dir_down_btn.on{
	background:url("images/hvac/fan_dir_down_on.svg") no-repeat;
}
.fan_dir_right_btn{
	background:url("images/hvac/fan_dir_right_off.svg") no-repeat;	
	width:17.08333333%;/*123/720*/
	height:9.7%;/*97/1000*/
	top:67.75%;/*20/1000*/
	left:3.333333%; /*24/720*/
	position:absolute;
	background-size:100%;
}

.fan_dir_right_btn.on{
	background:url("images/hvac/fan_dir_right_on.svg") no-repeat;
}

.fan_dir_up_btn{
	background:url("images/hvac/fan_dir_up_off.svg") no-repeat;
	width:17.08333333%;/*123/720*/
	height:8.8%;/*88/1000*/
	top:76.1%;/*20/1000*/
	left:3.333333%; /*24/720*/
	position:absolute;
	background-size:100%;
}
.fan_dir_up_btn.on{
	background:url("images/hvac/fan_dir_up_on.svg") no-repeat;
}



.fan_control_ac{
	background:url("images/hvac/fan_control_ac_off.svg") no-repeat;
	width:15.555556%;/*112/720*/
	height:8.8%;/*88/1000*/
	top:67.75%;
	left:24.333%; /*24/720*/
	position:absolute;
	background-size:100%;
}
.fan_control_ac.on{
	background:url("images/hvac/fan_control_ac_on.svg") no-repeat;
}

.fan_control_auto{
	background:url("images/hvac/fan_control_auto_off.svg") no-repeat;
	width:15.416667%;/*111/720*/
	height:8.8%;/*88/1000*/
	top:67.75%;
	left:42.333%; /*24/720*/
	position:absolute;
	background-size:100%;
}
.fan_control_auto.on{
	background:url("images/hvac/fan_control_auto_on.svg") no-repeat;
}

.fan_control_circ{
	background:url("images/hvac/fan_control_circ_off.svg") no-repeat;
	width:15.555556%;/*112/720*/
	height:8.8%;/*88/1000*/
	top:67.75%;
	left:60.333%; /*24/720*/
	position:absolute;
	background-size:100%;
}
.fan_control_circ.on{
	background:url("images/hvac/fan_control_circ_on.svg") no-repeat;
}

/***DEFROST****/

.defrost_max_btn{
	background:url("images/hvac/defrost_max_off.svg") no-repeat;
	width:17.08333333%;/*123/720*/
	height:9.7%;/*97/1000*/
	top:58.75%;/*20/1000*/
	right:3.333333%; /*24/720*/
	position:absolute;
	background-size:100%;
}
.defrost_max_btn.on{
	background:url("images/hvac/defrost_max_on.svg") no-repeat;
}
.defrost_rear_btn{
	background:url("images/hvac/defrost_rear_off.svg") no-repeat;	
	width:17.08333333%;/*123/720*/
	height:9.7%;/*97/1000*/
	top:67.75%;/*20/1000*/
	right:3.333333%; /*24/720*/
	position:absolute;
	background-size:100%;
}

.defrost_rear_btn.on{
	background:url("images/hvac/defrost_rear_on.svg") no-repeat;
}

.defrost_front_btn{
	background:url("images/hvac/defrost_front_off.svg") no-repeat;
	width:17.08333333%;/*123/720*/
	height:8.8%;/*88/1000*/
	top:76.1%;/*20/1000*/
	right:3.333333%; /*24/720*/
	position:absolute;
	background-size:100%;
}
.defrost_front_btn.on{
	background:url("images/hvac/defrost_front_on.svg") no-repeat;
}		
