.phoneBody {
	background-image: url("images/phone/bg_with_glow_blue.png");
}

.deleteButton {
	background-image: url("images/phone/bt_delete_blue.png");
}

.callingFalse {
	background-image: url("images/phone/icon_call_blue.png");
}

.carouselNumber {
	background-image: url("images/phone/icon_number_blue.png");
}

.speakerButton {
	background-image: url("images/phone/icon_speaker_blue.png");
}

.muteButton {
	background-image: url("images/phone/icon_mute_blue.png");
}

.holdButton {
	background-image: url("images/phone/icon_hold_blue.png");
}

.addCallButton {
	background-image: url("images/phone/icon_addcall_blue.png");
}

.isFavoriteTrue {
	background-image: url("images/phone/icon_favorite_true_blue.png");
}

.isFavoriteFalse {
	background-image: url("images/phone/icon_favorite_false_blue.png");
}

.phoneIcon {
	background-image: url("images/phone/icon_mobile_blue.png");
}

.emailIcon {
	background-image: url("images/phone/icon_email_blue.png");
}

.addressIcon {
	background-image: url("images/phone/icon_address_blue.png");
}

.missedCallIcon {
	background-image: url("images/phone/icon_missed_blue.png");
}

.missedNewCallIcon {
	background-image: url("images/phone/icon_missed_new_blue.png");
}

.receivedCallIcon {
	background-image: url("images/phone/icon_received_blue.png");
}

.dialedCallIcon {
	background-image: url("images/phone/icon_dialed_blue.png");
}

.noContactPhoto {
	background-image: url("images/phone/contact_picture_blue.png");
}
.contactDetailBox3:hover .phoneIcon {
	background-image: url("images/phone/icon_mobile_blue_hover.png");
}

.contactDetailBox3 .phoneIcon:hover {
	background-image: url("images/phone/icon_mobile_blue_hover.png");
}
