/* copied into components/tabs/tabs.css */

/*.tabsCloseButton {
	background-image: url('../images/tabs/bt_close_blue.png');
}

.tabsTopPanel {
	background-image: url('../images/tabs/bg_top_navi_blue.png');
}

.tabsTab, .tabsTabClear {
	background-image: url('../images/tabs/bg_top_navi_unselect1px_blue.png');
}

.tabsTabSelected {
	background-image: url('../images/tabs/bg_top_navi_select_blue.png');
} 

.tabsCloseSubPanelButton {
	background-image: url('../images/tabs/bt_back_blue.png');
}*/
