/* Do not remove this comment, causes crashes on IVI */

/* APPLICATIONS */
@import url("./musicplayer.css");
@import url("./store.css");
@import url("./dashboard.css");
/*@import url("./phone.css");*/
@import url("./settings.css");
/*@import url("./hvac.css");*/
/*@import url("./nouislider.fox.css");*/
@import url("./navigation.css");
@import url("./audiocontrols.css");
@import url("./weather.css");

/* COMPONENTS */
@import url("./common.css");
@import url("./bottombaricons.css");
@import url("./progressBarImg.css");
/*@import url("./library.css");*/
@import url("./tabs.css");

.libraryButton {	
	background-image: url("images/common/bt_library_blue.png");
}

.backButton {	
	background-image: url("images/common/bt_back_blue.png");
}

.previousButton {
	background-image: url("images/common/bt_previous_blue.png");
}

.nextButton {
	background-image: url("images/common/bt_next_blue.png");
}
