/*
body {
	font-family: "Droid Sans", sans-serif;  *******this style in common.css******
}*/
html {
overflow: hidden; 
}
.clearBoth {
	clear:both;
}
#bottomBar {
	/*width: calc(100% - 2px);*/
	height: 130px;
	border: 1px solid white;
	background: rgba(0, 0, 0, 0.9);
  box-shadow: inset 0 0 20px rgb(179, 227, 255);
	/*position: fixed;*/
	position: relative;
	/*bottom: 0px;*/
	/*left: 0;*/
	/*z-index: 21;*/
}
#settingsIcon {
	width:89px;
	height:89px;
	position: absolute;
	left:0;
	top: 0;
	margin: 20px 0 0 20px;
}
#settingsMenu{
	Height: 800px;
	width: 117px;
	position: fixed;
	bottom: 131px;
	left: 0;
	display:none;
	border: 1px solid white;
	box-shadow: 0 0 36px rgba(196, 196, 196, 1) inset;
}
#settingsMenu img{
	border-bottom:1px solid white;
}
#closeApp{
	display:none;
}
/*drop in any logo of any size loading the image content to style.css in app; 
the following style will center the image but not size or stretch it*/
#bottomBarLogoImg{
/*	width:400px;  this size stretches the logos out of proportion, doesn't work for all
	height:100px;
	margin: 16px 0 0 325px;*/
	position: absolute;
	left: 50%;
	top: 50%;
	width: 300px;
	transform: translate(-50%, -50%);
}

.bottomBarLogo {
	content:url('/DNA_common/components/bottomBar/images/JLR-Logo.png');
}

#volumeIndicator{
	float:right;
	margin:50px 31px 0 0;
}
#volumeSlideCrop, #volumeKnob, #volumeSlider{
	position:absolute;
}
#volumeChannel, #volumeVertical, #volumeKnob{
	pointer-events: none;
}
#volumeIndicator,#volumeSlider,#volumeSlideCrop{
	width:210px;
}
#volumeChannel,#volumeSlider{
	height:896px;
}
#volumeIndicator{
	height:60px;
	background-image:url('../images/VolBckgrnd.png');
}
#volumeSlider{
	display:none;
	bottom:250px;
	right:25px;
	z-index:6;
	background-image:url('../images/VolSlideBckgrnd.png')
}
#VolLabel{
	font-weight:bold;
	font-size:32px;
	margin-left:45px;
	line-height:60px;
	color:white !important;
}
#volumeSlideCrop{
	height:60%;
	bottom:6px;
	overflow:hidden;
}
#volumeKnob{
	left:30px;
	top:282px;
}
#volumeKnob img{
	width:100px;
	margin: 25px 0 0 25px;
}
#volumeVertical{
	width:209px;
}
#volumeCrop{
	height:60px;
	width:60%;
	overflow:hidden;
}
.shadowSmall
{	
	border: 1px solid white;
	background: rgba(0, 0, 0, 0.9);
   -webkit-box-shadow: inset 0 0 20px rgb(179, 227, 255);
   box-shadow:         inset 0 0 20px rgb(179, 227, 255);
	
}
