<div class="wifiElement borderColorTheme" data-bind='click: Settings.Wifi.openNetworkDetails'>
	<div class="wifiElementInfoBox">
		<div class="wifiElementTitle fontSizeLarge fontWeightBold fontColorNormal fontWeightBold" data-bind="text: Settings.Wifi.getSsidStr(prop)"></div>
		<div class="wifiElementSubtitle fontSizeSmaller fontColorNormal fontWeightBold" data-bind='text: "Signal: " + Settings.Wifi.getSignalStrengthStr(prop)'></div>
		<div class="wifiElementDescription fontSizeSmaller fontColorNormal fontWeightBold" data-bind='text: "Encryption: " + Settings.Wifi.getEncryptionStr(prop)'></div>
		<div class="wifiElementMore fontSizeSmaller fontColorNormal fontWeightBold" data-bind='text: "Security: " + Settings.Wifi.getSecurityStr(prop)'></div>
		<div class="wifiElementMore fontSizeSmaller fontColorSelected fontWeightBold" data-bind='text: "Connected", style: { display: Settings.Wifi.isConnected(prop) ? "block" : "none" }'></div>
		<div class="wifiElementMore fontSizeSmaller fontColorSelected fontWeightBold" data-bind="text: Settings.Wifi.isOnlineWifiNetwork(id) ? 'INTERNET ACCESS' : 'NO INTERNET ACCESS', css: { fontColorLightRed: Settings.Wifi.isOnlineWifiNetwork(id) == false }, style: { display: Settings.Wifi.isConnected(prop) ? 'block' : 'none' }"></div>
	</div>
	<div class="toggleButton wifiElementButton" data-bind="clickBubble: false, click: Settings.Wifi.toggleConnection">
		<div class="bgColorThemeTransparent boxShadowInset toggleButton toggleButtonBackground"></div>
		<div class="fontColorNormal fontSizeMedium fontWeightBold toggleButtonText" data-bind="text: Settings.Wifi.isConnected(prop) ? 'DISCONNECT' : 'CONNECT', css: { fontColorSelected: Settings.Wifi.isConnected(prop) }"></div>
	</div>
</div>