<div class="wifiElement borderColorTheme" data-bind='click: Settings.Bluetooth.openDeviceDetails'>
	<div class="wifiElementInfoBox">
		<div class="wifiElementTitle fontSizeLarge fontWeightBold fontColorNormal" data-bind='text: name'></div>
		<div class="wifiElementSubtitle fontSizeSmaller fontColorNormal fontWeightBold" data-bind='text: "Address: " + address'></div>
		<div class="wifiElementDescription fontSizeSmaller fontColorNormal fontWeightBold" data-bind='text: "Class: " + Settings.Bluetooth.getDeviceClassStr(deviceClass)'></div>
		<div class="wifiElementMore fontSizeSmaller fontColorSelected fontWeightBold" data-bind='text: "Paired", style: { display: isBonded ? "block" : "none" }'></div>
		<div class="wifiElementMore fontSizeSmaller fontColorSelected fontWeightBold" data-bind="text: 'SELECTED PHONE', style: { display: isBonded && Settings.Bluetooth.isDeviceSelected($data) ? 'block' : 'none' }"></div>
	</div>
	<div class="toggleButton wifiElementButton" data-bind="clickBubble: false, click: Settings.Bluetooth.togglePair">
		<div class="bgColorThemeTransparent boxShadowInset toggleButton toggleButtonBackground"></div>
		<div class="fontColorNormal fontSizeMedium fontWeightBold toggleButtonText" data-bind="text: isBonded ? 'UNPAIR' : 'PAIR', css: { fontColorSelected: isBonded == true }"></div>
	</div>
</div>