<!-- RVI html template page for settings -->

<div id="rviPage" class="tabs rviPage hidden">

	<div id="tabsTopSubPanel" class="tabsTopSubPanel">
 
		<div id="tabsCloseSubPanelRviButton" class="tabsCloseSubPanelButton"></div>
		<div class="tabsSubPanelArea">
			<div id="tabsTopSubPanelTitle">
				<div class="boxIconRectangleSmall bgColorTheme"></div>
				<div class="boxIconCaptionSmall boxCaptionText">SETTINGS</div>
			</div>
			<div id="tabsTopSubPanelSubtitle" class="componentHeader">RVI</div>
			<div class="tabsTabClear">
			</div>
		</div>

	</div>
	<div class="tabsTopSubPanel" style="display: block;">
		<div class="componentSubheader">
			<h2>Remote Vehicle Interaction</h2>		
		</div>
	</div>

	<!-- RVI setup button, previously if tapped would display inputBox -->
<!-- 	<div class="setup">
		<input id="setup" value="RVI Set Up">
	</div> -->
	<div class="tabsContent">
		<div id="inputBox">
			<form id="setupForm">

				<div class="close-button" type="reset"></div>

				<div class="labelBox">
					<h4>VIN Number</h4>
				</div>

				<div class="inputNumberBox">	
						<input type="text" name="focus" class="inputNumber" id="vinNumber" placeholder="Enter new number">
						<div class="delete-button" type="reset"></div>
				</div>

				<div class="button-area">
					<div class="button button-blue">
						<input id="submit" type="submit" value="submit">
					</div>
				</div>

<!-- 				<div class="button-area">
					<div class="button left">
						<input id="submit" type="submit" value="submit">
					</div>
					<div class="button button-blue right">
						<input id="cancel" type="submit" value="cancel">
					</div>
				</div> -->
			</form>
		</div>
	</div>

	<div id="resultMessage" class="resultMessage hidden">
		<div id="messageOverlay"></div>
		<div class="message">
			<h2>Success!</h2>
			<p>You have saved information on this device that will enable up 
			to 4 mobile devices to connect to and operate the HVAC system remotely.</p>
			<a class="button button-orange">Close<a>
		</div>
	</div>
</div>

 
