<!-- HTML from loadTemplate() in car.js  -->
<template id="scriptTagTemplate">
	<script type="text/html" id=""></script>
</template>

<!-- HTML from showLoadingSpinner() in car.js  -->
<template id="loadingSpinnerTemplate">
	<div id="loadingSpinnerWrapper" class="loadingSpinnerWrapper">
		<div id="loadingSpinner" class="loadingSpinner pageBgColorNormalTransparent">
			<div id="loadingSpinnerContent" class="loading-container">
      	<div id="loadingSpinnerImg" class="loading"></div>
        <div id="loadingSpinnerText" class="loading-text fontSizeXXSmall fontWeightBold fontColorNormal"></div>
      </div>
    </div>
  </div>
</template>